.navbar{
	display: flex;
	justify-content: flex-end;
	background-color: #000;
}


.navbar-elem {
	background-color: skyblue;
	padding: 10px;
/*	margin: 0px 1px 0px 1px; */
	width: 100px;
}

#blog {
	width: 80%;
}

#banner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

@media (max-width: 800px) {
	.grid-container {
		grid-template-columns: auto auto auto auto;
	}
}

@media (max-width: 600px) {
	.grid-container {
		grid-template-columns: auto auto auto;
	}
}

@media (max-width: 400px) {
	.grid-container {
		grid-template-columns: auto auto;
	}
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s; 
}
img {
    float: left;
    width:  180px;
    height: 190px;
    object-fit: cover;
}
 
 H3{ text-align: center; 
padding-top: 40px;}

#banner2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: lightblue;
}

#banner3 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: skyblue;
}


.grid-container2 {
	display: grid;
	grid-template-columns: auto auto auto ;
	transform: translateY(40px);
}

#bannerq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20px;
	transform: translateY(55px);
}